.secondary-sidebar {
    width: 100%;
    height: 100%;
    color: #475569;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0 8px;
}

.secondary-sidebar::-webkit-scrollbar {
    width: 5px;
}

.secondary-sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.secondary-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(148, 163, 184, 0.25);
    border-radius: 5px;
}

.secondary-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(148, 163, 184, 0.4);
}

.secondary-sidebar-header {
    padding: 6px 16px;
    min-height: 52px;
    margin: 0 -8px 8px -8px;
    border-bottom: 1px solid rgba(148, 163, 184, 0.35);
}

@media (max-width: 900px) {
    .secondary-sidebar {
        padding: 0 8px;
    }

    .secondary-sidebar-header {
        min-height: 40px;
        margin-bottom: 2px;
        padding: 4px 12px 4px 16px;
    }
}
