.secondary-sidebar {
    width: 100%;
    height: 100%;
    color: #475569;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    @apply px-2 pt-0 pb-3;
}

.secondary-sidebar::-webkit-scrollbar {
    width: 5px;
}

.secondary-sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.secondary-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(148, 163, 184, 0.25);
    border-radius: 5px;
}

.secondary-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(148, 163, 184, 0.4);
}
