.formWrapper{
    padding-bottom: 10px;
}
.formWrapper label {
    width: 80px;
    text-align: right;
    display: inline-block;
    margin-right: 4px;
}
.formWrapper input {
    width: 240px;
}
.formWrapper button{
    margin-top: 10px;
}