name: huntly tauri build workflow

on:
  # This line enables manual triggering of this workflow.
  workflow_dispatch:

jobs:
  build-server-jar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set Node.js (client)
        uses: actions/setup-node@v3
        with:
          node-version: "20.10.0"
          cache: "yarn"
          cache-dependency-path: "app/client/yarn.lock"

      - name: Setup yarn
        run: npm install -g yarn --version 1.22.19

      - name: Build client
        run: |
          cd app/client
          yarn install --frozen-lockfile
          yarn build

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"

      - name: Cache maven dependencies
        uses: actions/cache@v3
        env:
          cache-name: cache-maven-dependencies
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build server jar
        run: |
          cd app/server
          mvn -B clean package
        env:
          CI: false

      - name: Upload server jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: huntly-server-jar
          path: app/server/huntly-server/target/huntly-*.jar

  tauri-build:
    permissions:
      contents: write
    needs: build-server-jar
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: macos-14
            tauri_target: aarch64-apple-darwin
          - platform: windows-2022
            tauri_target: i686-pc-windows-msvc
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: 'app/tauri/src-tauri -> app/tauri/src-tauri/target'

      - name: Add Rust target
        run: rustup target add ${{ matrix.tauri_target }}

      - name: Set Node.js (tauri)
        uses: actions/setup-node@v3
        with:
          node-version: "20.10.0"
          cache: "yarn"
          cache-dependency-path: "app/tauri/yarn.lock"

      - name: Setup yarn
        run: npm install -g yarn --version 1.22.19

      - name: Install tauri dependencies
        run: |
          cd app/tauri
          yarn install --frozen-lockfile

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"

      - name: Download server jar
        uses: actions/download-artifact@v4
        with:
          name: huntly-server-jar
          path: app/tauri/src-tauri/server_bin

      - name: Move to server_bin
        run: |
          mv app/tauri/src-tauri/server_bin/huntly-*.jar app/tauri/src-tauri/server_bin/huntly-server.jar

      - name: jlink
        run: |
          cd app/tauri/src-tauri/server_bin/
          jlink --module-path $JAVA_HOME/jmods --add-modules java.compiler,java.sql,java.naming,java.management,java.instrument,java.rmi,java.desktop,jdk.internal.vm.compiler.management,java.xml.crypto,java.scripting,java.security.jgss,jdk.httpserver,java.net.http,jdk.naming.dns,jdk.crypto.cryptoki,jdk.unsupported --verbose --strip-debug --compress 2 --no-header-files --no-man-pages --output jre11

      - name: Build the app
        run: |
          cd app/tauri
          yarn tauri build --target ${{ matrix.tauri_target }}

      - name: Upload the build artifact
        uses: actions/upload-artifact@v4
        with:
          name: tauri-build-${{ matrix.platform }}
          path: app/tauri/src-tauri/target/${{ matrix.tauri_target }}/release/bundle
